@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: rgba(251, 250, 254, 1);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(180deg, #7C5AED 0%, #6E34BB 100%);
    border-color: #6E34BB;
    transition: 0.3s all ease;

    &:focus {
        color: #fff;
        background: linear-gradient(180deg, #6E34BB 0%, #7C5AED 100%);
        border-color: #6E34BB;
    }

    &:active {
        color: #fff;
        background: linear-gradient(180deg, #6E34BB 0%, #7C5AED 100%);
        border-color: #6E34BB;
    }

    &:hover {
        color: #fff;
        background: linear-gradient(180deg, #6E34BB 0%, #7C5AED 100%);
        border-color: #6E34BB;
    }
}

.btn-outline-secondary {
    color: rgba(1, 1, 1, 1);
    border: 1px solid rgba(1, 1, 1, 0.1);
    transition: 0.3s all ease;

    &:hover {
        background-color: #101010 !important;
        border-color: #101010 !important;
        color: #fff !important;
        cursor: pointer;
    }
}

.gradient-primary {
    background: linear-gradient(to right, #7340CA 0%, rgba(115, 64, 202, 0.4) 50%, #7340CA 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s ease-in-out infinite;
}

@keyframes shine {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}


.navbar {
    z-index: 999;
}

.navbar .navbar-brand img {
    width: 80px;
}

.nav-item .nav-link {
    color: rgba(100, 97, 107, 1);
}

.router-link-active {
    position: relative;
    color: #6E34BB !important;
}

.router-link-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #6E34BB;
    border-radius: 50%;
}

.bg-hero {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%
}


.introduce-badge {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(2px);
    border-radius: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(100, 97, 107, 1);
    padding: .5rem 1rem;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
}

.hero-description {
    color: rgba(100, 97, 107, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.hero-image {
    border-radius: 18px;
    width: 100%;
    object-fit: cover;
}

.hero-image-left {
    width: 370px;
    border-radius: 18px;
    position: absolute;
    bottom: 30px;
    left: 0;
    object-fit: cover;
}

.hero-image-right {
    width: 370px;
    border-radius: 18px;
    position: absolute;
    bottom: 30px;
    right: 0;
    object-fit: cover;
}

.about-us-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: rgba(124, 90, 237, 1);
}

.about-us-heading {
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 20px;
}

.about-us-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about-us-logo {
    width: 120px;
}

.activity {
    background: white;
}

.activity-card {
    border-radius: 18px;
    padding: 20px;
    transition: 0.3s all ease;

}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: rgba(124, 90, 237, 1);
}


.heading {
    font-weight: 600;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 20px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(100, 97, 107, 1)
}

.activity-card-image img {
    width: 100%;
    border-radius: 18px;
}

.activity-card-body {
    text-align: center;
    margin-top: 20px;
}

.activity-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.activity-card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(100, 97, 107, 1);
}

.activity-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    border-radius: 18px;
}

.event-card {
    border-radius: 18px;
    padding: 20px;
    transition: 0.3s all ease;
}

.event-card:hover {
    cursor: pointer;
    color: rgba(124, 90, 237, 1) !important;
}

.event-card-image img {
    width: 100%;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    height: 200px;
    object-fit: cover;
}

.event-card-body {
    margin-top: 20px;
}

.event-card-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(100, 97, 107, 1);
}

.event-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.event-card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(100, 97, 107, 1);
}

.cardSlim {
    background-color: #fff;
    border: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    padding: 20px;
    transition: all .3s ease-in-out;
    position: relative;
}

.cardSlim .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #34364a !important;
    margin: 0;
    text-transform: capitalize;
}

.mastering-tools .tools-slideshow .cardSlim .subtitle {
    width: -moz-max-content;
    width: max-content;
}

.cardSlim .subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #999aa4;
    margin: 4px 0 0;
}

.mastering-tools .tools-slideshow {
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    overflow: hidden;
    transform: translateZ(0);
    width: 100%;
    position: relative;
    height: auto
}

.mastering-tools .tools-slideshow:hover #toolsRow1,
.mastering-tools .tools-slideshow:hover #toolsRow2 {
    animation-play-state: paused
}

.mastering-tools .tools-slideshow.toRight {
    justify-content: flex-end
}

.mastering-tools .tools-slideshow #toolsRow1,
.mastering-tools .tools-slideshow #toolsRow2 {
    height: 100%;
    transform: translateZ(0);
    display: flex;
    animation: 60s linear infinite;
}

.mastering-tools .tools-slideshow #toolsRow1 {
    animation-name: moveSlideshowToRight;
}

.mastering-tools .tools-slideshow #toolsRow1 .cardSlim {
    margin-right: 30px
}

.mastering-tools .tools-slideshow #toolsRow2 {
    animation-name: moveSlideshowToLeft
}

.mastering-tools .tools-slideshow #toolsRow2 .cardSlim {
    margin-left: 30px
}

.mastering-tools .tools-slideshow .cardSlim {
    width: -moz-max-content;
    width: max-content;
    min-width: 288px
}

.mastering-tools .tools-slideshow .cardSlim .subtitle {
    width: -moz-max-content;
    width: max-content
}


.mastering-tools .tools-slideshow {
    margin-bottom: 20px;
}

.mastering-tools {
    position: relative;
    overflow: hidden
}

.mastering-tools::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(270deg, #FBFAFE 25.74%, rgba(251, 250, 254, 0) 100%);
    z-index: 99;
}

.mastering-tools::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, #FBFAFE 25.74%, rgba(251, 250, 254, 0) 100%);
    z-index: 99;
}


@keyframes moveSlideshowToLeft {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-100%)
    }
}

@keyframes moveSlideshowToRight {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(100%)
    }
}

.team-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.team-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(100, 97, 107, 1);
    margin-bottom: 0;
}

.social-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid rgba(1, 1, 1, 0.05);
    background-color: #fff;
    padding: 16px;

    &:hover {
        cursor: pointer;
        border: 1px solid #6E34BB;
    }
}

.social-icon img {
    width: 18px;
    height: 18px;
}


.py-5 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons::before {
    content: "";

}

.social-media .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.social-media .icon:hover {
    background-color: #ececec;
}

.social-media .icon img {
    width: 25px;
    height: 25px;
}

.badge-vm {
    border: 1px solid #00000011;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    color: #6E34BB;
    font-weight: 600;
}

.nav-pills .nav-link {
    border: 1px solid #00000011;
    color: rgba(100, 97, 107, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 8px 16px;
    margin-bottom: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #6E34BB;
    color: white;
}

.badge-upcoming {
    background-color: #FDF2E7;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    color: #EF943F;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

.badge-past {
    background-color: #E5FFE5;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 16px;
    color: #00BD00;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

.image-wrapper {
    position: relative;
}


.gallery-image {
    border-radius: 18px;
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 8px 8px;
}

.image-wrapper:hover .image-title {
    opacity: 1;
}

.image-title h3,
.image-title span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
}


@import "./responsive.scss";